<h1><%= image_tag "banner.png", alt: "Cocktail Banner", id: "banner" %></h1>

<div class="container-fluid text-center">
  <ul class="card-container d-flex w-100 p-0 justify-content-center">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo.attached? %>
        <li class="cocktail-card" style="background-image: url('<%= cl_image_path(cocktail.photo.key, :crop=>"scale" ) %>')">
      <% else %>
        <li class="cocktail-card" style="background-image: url('https://res.cloudinary.com/susanjsp/image/upload/v1610782417/cocktail-card/unknown-cocktail_dkfw40.jpg')">
      <% end %>
      <%= link_to cocktail.name, cocktail_path(cocktail), class: "header-txt" %></li>
    <% end %>
  </ul>
  <%= link_to "+ New Cocktail", new_cocktail_path, class: "btn-add header-txt" %>
</div>

