<h1><%= image_tag "banner.png", alt: "Cocktail Banner", width: 200 %></h1>

<ul class="card-container">
  <% @cocktails.each do |cocktail| %>
    <li class="card"><%= link_to cocktail.name, cocktail_path(cocktail)%></li>
  <% end %>
</ul>

<p><%= link_to "Add New Cocktail", new_cocktail_path, class: "btn-add" %> </p>
