// Specific CSS for your home-page
body {
  background: rgb(0,0,0);
  // background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(17,17,17,0.6446953781512605) 53%, rgba(94,94,94,1) 100%);
  background: cover;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

#wrapper {
  width: 80%;
  margin: 0 auto;
}

.header-txt {
  color: white;
  font-family: $card-header-font;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 0;
  #banner {
    height: 160px;
  }
}
h2 {
  letter-spacing: 0.1em;
}
