.show-banner {
  i {
    margin: 24px 0 0 24px;
  }
}
.ingredients {
  text-align: center;
  margin: 8% 0%;
  table {

  }
  td {
    padding: 8px 12px;
  }
}
#cocktail-show-img {
  height: 45vw;
  width: 100%;
  object-fit: cover;
  vertical-align: top;
}

@media (min-width: 768px) {
  #cocktail-show-img {
    height: 100vh;
    width: 50vw;
    object-fit: cover;
    vertical-align: top;
  }
  .ingredients-wrapper {
    display: flex;
  }
  .ingredients {
    margin: 8vh auto 0 auto;
  }
  .ingredients-wrapper > * {
    flex: 1;
  }
}