.btn-add {
  display: inline-block;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  background: $main-gradient;
  // linear-gradient(90deg, rgba(77,251,232,1) 0%, rgba(154,191,242,1) 50%, rgba(240,121,253,1) 100%);
  padding: 8px 16px;
  border-radius: 20px;
  // width: 40%;
  margin: 16px 0;
  border: none;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.2em;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

.btn-add:hover {
  text-decoration: none;
  color: white;
  letter-spacing: 0.25em;
  transition: 0.3s ease-in;
}

.btn-back {
  font-size: 24px;
  background-color: white;
  background-image: $main-gradient;
  background-size: 100%;
  background-clip: text;
  // text-fill-color: transparent;
}

.btn-back:hover {
  color: white;
}
