.btn-add {
  display: inline-block;
  text-align: center;
  background: $main-gradient;
  padding: 8px 16px;
  border-radius: 20px;
  // width: 40%;
  margin: 24px auto;
  letter-spacing: 0.2em;
  border: none;
}

.btn-add:hover {
  text-decoration: none;
  color: white;
  letter-spacing: 0.25em;
  transition: 0.3s ease-in;
}

.btn-back {
  font-size: 24px;
  background-color: white;
  background-image: $main-gradient;
  background-size: 100%;
  background-clip: text;
  // text-fill-color: transparent;
}

.btn-back:hover {
  color: white;
}
