.card-container {
  flex-wrap: wrap;
}

.card {
  height: 25vw;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-end;
  transition: 0.5s ease;
  opacity: 0.75;
  text-align: right;
  a {
    font-weight: 300;
    font-size: 1.8em;
    letter-spacing: 0.2em;
  }
  &:hover {
    opacity: 1;
    a {
      text-decoration: none;
      letter-spacing: 0.25em;
      color: white;
      transition: 0.3s ease-in;
    }
  }
}

@media(min-width: 575px ) {
  .card {
    width: 45%;
    margin: 8px;
  }
}
@media (min-width: 720px ) {
  .card {
    width: 25%;
    margin: 8px;
  }
}