.card-container {
  flex-wrap: wrap;
}

.cocktail-card {
  height: 25vw;
  min-height: 100px;
  min-width: 350px;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: 0.5s ease;
  opacity: 0.75;
  text-align: right;
  border: none;
  a {
    font-weight: 300;
    font-size: 1.8em;
    letter-spacing: 0.2em;
    word-wrap: anywhere;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
  }
  &:hover {
    opacity: 1;
    a {
      text-decoration: none;
      letter-spacing: 0.25em;
      color: white;
      transition: 0.3s ease-in;
    }
  }
}

@media (min-width: 575px) {
  .cocktail-card {
    width: 90%;
    margin: 8px;
  }
}
@media (min-width: 768px ) {
  .cocktail-card {
    width: 25%;
    margin: 8px;
  }
}